---
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
---
<html lang="en">
    <head>
        <title>About | MADRAS</title>
    </head>
    <body>
        <Navbar/>
            

        <Footer/>
    </body>
</html>