---
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
import { Image } from 'astro:assets';
---
<html lang="en">
    <head>
        <title>About | MADRAS</title>
    </head>
    <body>
        <Navbar/>
        <div id="staff-photos">
            <!-- <Image></Image>
            <Image></Image>
            <Image></Image>
            <Image></Image> -->
        </div>
        <div id="mission">
            <div class="mission-desc">
                <p>
                    The dream of a restaurant started in college, where homemade meals became a source for the nostalgia students desperately wanted to feel once becoming independent. Through their shared love for Indian cuisine, Evan and Karthik cooked meals using recipes passed down through generations in Karthik's family, and eventually, this grew into a desire to cook meals for our entire community.
                </p>
            </div>
            <div class="mission-desc">
                <p>
                    At this restaurant, we aspire to carry the legacy given to us by Karthik's ancestors from India through our authentic vegetarian cuisine. We strive for our customers to feel the same sense of nostalgia when Karthik and Evan cooked for themselves in college with their parents recipes.
                </p>
            </div>
            <div id="mission-image">
                <!-- <Image/> -->
            </div>
        </div>

        <div id="approach">
            <div class="header">
                <h1>Our Approach</h1>
            </div>
            <div class="desc">
                <p>
                    Our approach focuses on 3 components: <strong>authenticity</strong>, <strong>taste</strong>, and <strong>sustainability</strong>. This is showcased through the route our food takes from the farm to the table.
                </p>
            </div>
        </div>

        <div id="approach-steps">
            <div class="step">
                <div id="text"></div>
                <!-- <Image/> -->
            </div>
            <div class="step">
                <div id="text"></div>
                <!-- <Image/> -->
            </div>
            <div class="step">
                <div id="text"></div>
                <!-- <Image/> -->
            </div>
            <div class="step">
                <div id="text"></div>
                <!-- <Image/> -->
            </div>
            <div class="step">
                <div id="text"></div>
                <!-- <Image/> -->
            </div>
        </div>

        <Footer/>
    </body>
</html>