---
import Navbar from "../components/Navbar.astro";
import ImageBar from "../components/ImageBar.astro";
import Footer from "../components/Footer.astro";
import {Image} from 'astro:assets';
import roti from '../assets/vegsoup.jpg';
import resteraunt from "../assets/resteraunt.jpg";
---

<html lang="en">
    <head>
        <title>Hours | MADRAS</title>
    </head>
    <body>
        <Navbar/>
        <ImageBar src={roti}/>
        <div id="info">
            <div id="location" class="text-contain">
                <h1>Dunwoody Village</h1>
                <p>
                    1426 Dunwoody Village Pkwy,
                    <br>
                    Dunwoody, GA, 30338
                </p>
            </div>
            <div id="hours" class="text-contain">
                <h1>Hours</h1>
                <p>
                    Monday - Saturday: 11AM - 9PM
                    <br>
                    Sunday: 12PM - 8PM
                </p>
            </div>
            <Image id="resteraunt-image" src={resteraunt} alt="resteraunt photo"/>
        </div>
        <div id="map">
            <div style="max-width:100%;overflow:hidden;color:red;width:100%;height:70vh;">
                <div id="google-maps-display" style="height:100%; width:100%;max-width:100%;">
                  <iframe style="height:100%;width:100%;border:0;" frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=1426+Dunwoody+Village+Parkway&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe>
                </div>
                <a class="googlemaps-made" href="https://kbj9qpmy.com/hrn" id="inject-map-data">InMotion Hosting</a>
                <style>
                  #google-maps-display .text-marker {}
              
                  .map-generator {
                    max-width: 100%;
                    max-height: 100%;
                    background: none;
                }
                </style>
            </div>
        </div>
        <Footer/>
    </body>
</html>

<style lang="scss">

    @font-face {
        font-family: 'Poppins';
        src: url("/webmaster-2025/fonts/Poppins-Regular.ttf") format("ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }

    
    #info {
        
        margin: 10rem 5rem 10rem 5rem;

        display: grid;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        grid-template-areas: 
            "location image"
            "hours image";

        #location, #hours {
            text-align: center;
            h1, p {
                font-family: 'Poppins', sans-serif;

            }
        }

        #resteraunt-image {
            grid-area: image;
        }

        #location {
            grid-area: location;
        }

        #hours {
            grid-area: hours;
        }



    }

</style>