---
import Navbar from "../components/Navbar.astro";
import ImageBar from "../components/ImageBar.astro";
import roti from '../assets/vegsoup.jpg';

---

<html lang="en">
    <head>
        <title>Hours | MADRAS</title>
    </head>
    <body>
        <Navbar/>
        <ImageBar src={roti}>
    </body>
</html>