---
import MenuItem from '../components/MenuItem.astro';
import Navbar from '../components/Navbar.astro';
---

<html lang="en">
    <head>
        <title>Menu | MADRAS</title>
    </head>
    <body>
        <Navbar/>
        
    </body>
</html>
