---
import MenuItem from '../components/MenuItem.astro';
import MenuSection from '../components/MenuSection.astro';
import Navbar from '../components/Navbar.astro';
---

<html lang="en">
    <head>
        <title>Menu | MADRAS</title>
    </head>
    <body>
        <Navbar/>
        <MenuSection header="SOUPS">
            <MenuItem title="Tomato Soup" desc="Classic tomato soup that is creamy and filling" price="$5.99" src="https://i1.pickpik.com/photos/435/66/530/food-drink-food-healthy-soup-preview.jpg"/>
            <MenuItem title="Mushroom Soup" desc="Creamy, delicious soup made from portobello mushrooms" price="$6.99" src="https://live.staticflickr.com/65535/51017936007_15a68a6201_h.jpg"/>
            <MenuItem title="Veg Hot and Sour Soup" desc="Tangy, spicy, and savory Indo-Chinese soup" price="$6.99" src="https://i1.pickpik.com/photos/435/66/530/food-drink-food-healthy-soup-preview.jpg"/>
            <MenuItem title="Vegetable Soup" desc="Spicy soup with carrots, peas, and corn" price="$5.99" src="https://images.rawpixel.com/image_social_square/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcHgxNjQxMjg3LWltYWdlLWt3dnhyYXd6LWt3dnluamRkLmpwZw.jpg"/>
        </MenuSection>
        <MenuSection header="APPETIZERS">
            <MenuItem title="Gobi Manchurian" desc="Fried cauliflower covered in a sweet ginger and garlic sauce" price="$7.99" src="https://live.staticflickr.com/5015/5427112315_551d2129c6_c.jpg" width="972" height="650"></MenuItem>
            <MenuItem title="Veg Manchurian" desc="Fried vegetables covered in a sweet and spicy sauce" price="$6.99" src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Paneer_65.jpg"></MenuItem>
            <MenuItem title="Paneer 65" desc="Deep-fried paneer marinated with a tasty spice mix" price="$7.99" src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Paneer_65.jpg"></MenuItem>
            <MenuItem title="Chilli Paneer" desc="Batter-fried paneer tossed with a spicy savory sauce" price="$7.59" src="https://upload.wikimedia.org/wikipedia/commons/0/0b/Paneer_65.jpg"></MenuItem>
        </MenuSection>
        
    </body>
</html>

<style>
</style>