---
import Navbar from "../components/Navbar.astro"
import Footer from "../components/Footer.astro"
import ImageBar from "../components/ImageBar.astro";
import ref1 from "../assets/ref1.jpg";
import salt from "../assets/salt.jpg";
import Image from "astro/components/Image.astro";
import table from "../assets/table.jpg";
---

<html lang="en">
    <head>
        <title>References | MADRAS</title>
    </head>

    <body>
        <Navbar/>
        <ImageBar header="References" src={ref1}/>
        <!-- content (info citations) -->

        <h1>Content</h1>
        <div id="content-section">
            <div class="text-wrap">
                <ul>
                    <li>
                        <a href="https://www.indianhealthyrecipes.com/gobi-manchurian-recipe/">https://www.indianhealthyrecipes.com/gobi-manchurian-recipe/</a>
                    </li>
                    <li>
                        <a href="https://www.indianhealthyrecipes.com/chilli-paneer-recipe/">https://www.indianhealthyrecipes.com/chilli-paneer-recipe/</a>
                    </li>
                    <li>
                        <a href="https://www.acfb.org/">https://www.acfb.org/</a>
                    </li>
                    <li>
                        <a href="https://www.feedingamerica.org/find-your-local-foodbank">https://www.feedingamerica.org/find-your-local-foodbank</a>
                    </li>
                    <li>
                        <a href="https://www.ecoleducasse.com/en/blog/sustainability-restaurants-and-why-it-matters">https://www.ecoleducasse.com/en/blog/sustainability-restaurants-and-why-it-matters</a>
                    </li>
                </ul>
            </div>
            <div class="image-sec">
                <Image id="table" src={table} alt="table of bowls"/>

            </div>
        </div>

        <h1>Images</h1>
        <div id="image-section">
            
            <div class="text-wrap">
                
                <ul>
                    <li>
                        <a href="https://www.pexels.com/photo/rice-with-meat-and-bowls-with-sauces-9609859/">https://www.pexels.com/photo/rice-with-meat-and-bowls-with-sauces-9609859/</a>
                    </li>
                    <li>
                        <a href="https://commons.wikimedia.org/wiki/File:Indian_restaurant_in_Hamilton,_New_Zealand.jpg">https://commons.wikimedia.org/wiki/File:Indian_restaurant_in_Hamilton,_New_Zealand.jpg</a>
                    </li>
                    <li>
                        <a href="https://commons.wikimedia.org/wiki/File:Gobi_Manchurian.jpg">https://commons.wikimedia.org/wiki/File:Gobi_Manchurian.jpg</a>
                    </li>
                    <li>
                        <a href="https://commons.wikimedia.org/wiki/File:Paneer_65.jpg">https://commons.wikimedia.org/wiki/File:Paneer_65.jpg</a>
                    </li>
                    <li>
                        <a href="https://www.flickr.com/photos/garrettziegler/5179876145">https://www.flickr.com/photos/garrettziegler/5179876145</a>
                    </li>
                    <li>
                        <a href="https://www.flickr.com/photos/kurmanphotos/51017936007">https://www.flickr.com/photos/kurmanphotos/51017936007</a>
                    </li>
                    <li>
                        <a href="https://www.canva.com/photos/MAFNeic0f7o/">https://www.canva.com/photos/MAFNeic0f7o/</a>
                    </li>
                    <li>
                        <a href="https://www.pickpik.com/bowl-tomato-soup-basil-walnut-bread-food-drink-76630">https://www.pickpik.com/bowl-tomato-soup-basil-walnut-bread-food-drink-76630</a>
                    </li>
                    <li>
                        <a href="https://www.rawpixel.com/search/soup%20vegetables?page=1&path=_topics&sort=curated">https://www.rawpixel.com/search/soup%20vegetables?page=1&path=_topics&sort=curated</a>
                    </li>
                    <li>
                        <a href="https://pxhere.com/en/photo/1619252">https://pxhere.com/en/photo/1619252</a>
                    </li>
                    <li>
                        <a href="https://pixahive.com/photo/veg-manchurian-in-a-plate/">https://pixahive.com/photo/veg-manchurian-in-a-plate/</a>
                    </li>
                    <li>
                        <a href="https://www.flickr.com/photos/153337965@N04/45618793141">https://www.flickr.com/photos/153337965@N04/45618793141</a>
                    </li>
                    <li>
                        <a href="https://unsplash.com/photos/a-pile-of-fresh-vegetables-sitting-on-top-of-a-table-47_NxYzFUNE">https://unsplash.com/photos/a-pile-of-fresh-vegetables-sitting-on-top-of-a-table-47_NxYzFUNE</a>
                    </li>
                    <li>
                        <a href="https://www.desiclik.com/blog/2024/05/ready-to-eat-meals-indian-food-instant-indian-meals/">https://www.desiclik.com/blog/2024/05/ready-to-eat-meals-indian-food-instant-indian-meals/</a>
                    </li>
                    <li>
                        <a href="https://commons.wikimedia.org/wiki/File:Samosa_with_chutney.jpg">https://commons.wikimedia.org/wiki/File:Samosa_with_chutney.jpg</a>
                    </li>
                    <li>
                        <a href="https://unsplash.com/photos/a-bowl-of-white-rice-on-a-yellow-background-uZ3XaE_uKbQ">https://unsplash.com/photos/a-bowl-of-white-rice-on-a-yellow-background-uZ3XaE_uKbQ</a>
                    </li>
                    <li>
                        <a href="https://commons.wikimedia.org/wiki/File:Dahi_puri,_Doi_phuchka.jpg">https://commons.wikimedia.org/wiki/File:Dahi_puri,_Doi_phuchka.jpg</a>
                    </li>
                    <li>
                        <a href="https://www.pexels.com/photo/jeera-rice-in-bowl-7593253/">https://www.pexels.com/photo/jeera-rice-in-bowl-7593253/</a>
                    </li>
                </ul>
            </div>

            <Image id="salt" src={salt} alt="man sprinkling salt"/>
        </div>


        <!-- this is for the bottom most links -->
        
        <div id="bottom-section">
            <ul>
                <li>
                    <a href="https://www.pexels.com/photo/blue-ceramic-bowl-with-biryani-9609843/">https://www.pexels.com/photo/blue-ceramic-bowl-with-biryani-9609843/</a>
                </li>
                <li>
                    <a href="https://commons.wikimedia.org/wiki/File:Plainlassi.jpg">https://commons.wikimedia.org/wiki/File:Plainlassi.jpg</a>
                </li>
                <li>
                    <a href="https://www.flickr.com/photos/martinjordan/15440120354">https://www.flickr.com/photos/martinjordan/15440120354</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/baked-roti-topped-with-sliced-lime-beside-onion-ring-in-white-bowl-1051399/">https://www.pexels.com/photo/baked-roti-topped-with-sliced-lime-beside-onion-ring-in-white-bowl-1051399/</a>
                </li>
                <li>
                    <a href="https://pixabay.com/photos/curry-food-dish-meal-cuisine-7249243/">https://pixabay.com/photos/curry-food-dish-meal-cuisine-7249243/</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/dal-makhani-on-a-white-bowl-12737916/">https://www.pexels.com/photo/dal-makhani-on-a-white-bowl-12737916/</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/soup-with-paneer-11115801/">https://www.pexels.com/photo/soup-with-paneer-11115801/</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/delicious-spicy-indian-curry-with-vegetables-28867523/">https://www.pexels.com/photo/delicious-spicy-indian-curry-with-vegetables-28867523/</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/traditional-foods-on-a-banana-leaf-9557674/">https://www.pexels.com/photo/traditional-foods-on-a-banana-leaf-9557674/</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/soup-dish-on-white-ceramic-bowl-4595313/">https://www.pexels.com/photo/soup-dish-on-white-ceramic-bowl-4595313/ </a>
                </li>
                <li>
                    <a href="https://unsplash.com/photos/woman-holding-man-and-toddler-hands-during-daytime-5NLCaz2wJXE">https://unsplash.com/photos/woman-holding-man-and-toddler-hands-during-daytime-5NLCaz2wJXE</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/cooked-food-on-the-table-9609848/">https://www.pexels.com/photo/cooked-food-on-the-table-9609848/</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/plates-with-various-food-on-tray-5835353/">https://www.pexels.com/photo/plates-with-various-food-on-tray-5835353/</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/vegetables-on-the-soil-5503338/">https://www.pexels.com/photo/vegetables-on-the-soil-5503338/</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/food-on-a-plate-3928854/">https://www.pexels.com/photo/food-on-a-plate-3928854/</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/basket-of-cooked-flatbreads-1117862/">https://www.pexels.com/photo/basket-of-cooked-flatbreads-1117862/</a>
                </li>
                <li>
                    <a href="ttps://www.pexels.com/photo/a-woman-cooking-on-the-tandoori-oven-9562303/">ttps://www.pexels.com/photo/a-woman-cooking-on-the-tandoori-oven-9562303/</a>
                </li>
                <li>
                    <a href="https://images.unsplash.com/photo-1697155406014-04dc649b0953?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D">https://images.unsplash.com/photo-1697155406014-04dc649b0953?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/soup-with-vegetables-19834446/">https://www.pexels.com/photo/soup-with-vegetables-19834446/</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/close-up-photo-of-fried-food-on-saucer-2474658/">https://www.pexels.com/photo/close-up-photo-of-fried-food-on-saucer-2474658/</a>
                </li>
                <li>
                    <a href="https://www.pexels.com/photo/person-pouring-salt-in-bowl-1109197/">https://www.pexels.com/photo/person-pouring-salt-in-bowl-1109197/</a>
                </li>
            </ul>
        </div>

        <Footer/>
    </body>
</html>

<style lang="scss">

    body > h1 {
        text-align: center;
    }
    #content-section, #image-section {
        margin: 0 4rem 0 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        h1 {
            text-align: center;
        }
    }

    #content-section {
        grid-template-areas: 
        "text text image-sec";
        height: auto;
        h1 {
            grid-area: header;
            // width: 100%;
            text-align: center;
            height: 1rem;
        }
        .text-warp {
            grid-area: text;
        }

        .image-sec {
            margin-top:2rem;
            grid-area: image-sec;
            // max-width: 50%;
            // max-height: 60%;
            // height: min-content;
            // width:50%;
            clear:none;
            #table {
                height:50%;
                object-fit: scale-down;

            }
        }
    }

    #image-section {
        
        grid-template-areas: "image text";
        
        .text-wrap {
            grid-area: text;
        }
        #salt {
            grid-area: image;
        }
    }
</style>