---
---

<div id="nav-bar">
    <img src='/public/images/logo_black.png' alt="MADRAS" id="logo-black"/>
    <img src='/images/logo_white.png' alt="MADRAS" id="logo-white">

    <ul id="links">
        <li><a href="">About</a></li>
        <li><a href="">Menu</a></li>
        <li><a href="">Hours & Location</a></li>
        <li><a href="">Reference</a></li>
    </ul>
</div>

<style lang="scss">
    root {

    }
    @font-face {
        font-family: 'Poppins';
        src: url("/fonts/Poppins-Regular.ttf") format("ttf");
        font-weight: normal;
        font-style: normal;
        font-display: swap;
    }
    @media (prefers-color-scheme: dark) {
        #logo-white {
            display:none;
        }
        #nav-bar {
            background-color: black;

            #links > li {
                color: white;
            }
        }

    }
    @media (prefers-color-scheme: light) {
        #logo-black {
            display:none;
        }
        #nav-bar {
            background-color: white;
            #links > li {
                color: black;
            }
        }
    }
    body {
        margin: 0;
    }

    
    #nav-bar {
        width: 100%;

        img {
            padding-left: 1em;
            width: 10%;
        }

        #links {
            display: inline-block;
            max-width: fit-content;
            // margin-inline: auto;
            margin-left:auto;
            font-size: 1.5em;

            li {
                font-family: 'Poppins', sans-serif;
                
                display: table-cell;
                padding-left: 1rem;
                padding-right: 1rem;

                a {
                    color: inherit;
                    text-decoration: inherit;
                }
            }
        }
    }
</style>