---
---

<div id="navbar">

    <div class="nav-item">
        <img src="" alt="" id="logo">
    </div>

    <div class="nav-item">
        <p>About</p>
    </div>

    <div class="nav-item">
        <p>Menu</p>
    </div>

    <div class="nav-item">
        <p>Practices</p>
    </div>

    <div class="nav-item">
        <p>Hours & Locations</p>
    </div>

    <div class="nav-item">
        <p>Reference</p>
    </div>

</div>

<style lang="scss">

    #navbar {
        display:flex;
        background-color: red;

        
        div.nav-item {
            padding: 0 1em 0 1em;
        }
    }

</style>